/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../app/assets/stylesheets/application.css.sass */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 100%;
}

/* line 18, ../../app/assets/stylesheets/application.css.sass */
h2 {
  margin-bottom: 10px;
}

/* line 21, ../../app/assets/stylesheets/application.css.sass */
p {
  margin-bottom: 5px;
}

/* line 25, ../../app/assets/stylesheets/application.css.sass */
#container {
  background-color: white;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../../app/assets/stylesheets/application.css.sass */
#container #header, #container #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #header, * html #container #footer {
  overflow-x: hidden;
}
/* line 33, ../../app/assets/stylesheets/application.css.sass */
#container .nav-main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container .nav-main {
  overflow-x: hidden;
}
/* line 35, ../../app/assets/stylesheets/application.css.sass */
#container #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 750px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #content {
  overflow-x: hidden;
}

/* line 38, ../../app/assets/stylesheets/application.css.sass */
#header {
  text-align: center;
  border-bottom: 1px dashed #999999;
  margin-bottom: 30px;
  padding: 20px 10px 10px 10px;
  font-family: Tahoma, Geneva, sans-serif;
}
/* line 46, ../../app/assets/stylesheets/application.css.sass */
#header h1 {
  font-size: 1.3em;
  color: #999999;
}
/* line 49, ../../app/assets/stylesheets/application.css.sass */
#header h1 strong {
  margin-right: 10px;
  font-size: 1.6em;
  font-weight: bolder;
  color: #333333;
}

/* line 55, ../../app/assets/stylesheets/application.css.sass */
#footer {
  text-align: center;
  padding-top: 10px;
  font-size: 0.8em;
  border-top: 1px dashed #999999;
  height: 20px;
}

/* line 63, ../../app/assets/stylesheets/application.css.sass */
.nav-main .portrait {
  margin-bottom: 10px;
  height: 205px;
  width: 150px;
  overflow: hidden;
}
/* line 68, ../../app/assets/stylesheets/application.css.sass */
.nav-main .portrait img {
  -webkit-box-shadow: #888888 1px -2px 7px;
  -moz-box-shadow: #888888 1px -2px 7px;
  box-shadow: #888888 1px -2px 7px;
}
/* line 72, ../../app/assets/stylesheets/application.css.sass */
.nav-main ul {
  margin-left: 27px;
}
/* line 75, ../../app/assets/stylesheets/application.css.sass */
.nav-main ul li {
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 79, ../../app/assets/stylesheets/application.css.sass */
.nav-main ul a {
  text-decoration: none;
  color: #333333;
}
/* line 83, ../../app/assets/stylesheets/application.css.sass */
.nav-main ul a.selected {
  font-weight: bold;
  text-decoration: underline;
}
/* line 87, ../../app/assets/stylesheets/application.css.sass */
.nav-main ul a:hover {
  text-decoration: underline;
}

/* line 90, ../../app/assets/stylesheets/application.css.sass */
#content {
  min-height: 450px;
  height: auto !important;
  height: 450px;
}
/* line 93, ../../app/assets/stylesheets/application.css.sass */
#content h2, #content h3 {
  text-transform: uppercase;
  color: white;
  padding: 3px 4px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 98, ../../app/assets/stylesheets/application.css.sass */
#content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: #444444;
}
/* line 103, ../../app/assets/stylesheets/application.css.sass */
#content h3 {
  margin-bottom: 2px;
  font-style: italic;
  background-color: #9d2329;
}
/* line 108, ../../app/assets/stylesheets/application.css.sass */
#content .section {
  margin-top: 20px;
}
/* line 112, ../../app/assets/stylesheets/application.css.sass */
#content .section ul li {
  margin-bottom: 1px;
  color: #9d2329;
}
/* line 116, ../../app/assets/stylesheets/application.css.sass */
#content table#services {
  margin-top: 30px;
}
/* line 119, ../../app/assets/stylesheets/application.css.sass */
#content table#services tr td {
  vertical-align: top;
  padding: 5px;
  padding-bottom: 20px;
  color: #9d2329;
  font-weight: lighter;
}
/* line 126, ../../app/assets/stylesheets/application.css.sass */
#content table#services tr td.title {
  padding-right: 10px;
  text-align: right;
}
/* line 130, ../../app/assets/stylesheets/application.css.sass */
#content table#services tr td.title div {
  font-style: italic;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 2px;
  background-color: #9d2329;
  padding: 2px 4px;
  text-transform: uppercase;
  color: white;
  font-size: 1.2em;
}
/* line 141, ../../app/assets/stylesheets/application.css.sass */
#content #contact .phone, #content #contact .email {
  margin-top: 5px;
}

/* line 144, ../../app/assets/stylesheets/application.css.sass */
.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}
